<!DOCTYPE html>
<html lang="en">
<head>
	<title>Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../format.css">
	<link href="https://fonts.googleapis.com/css?family=Actor|Barlow|Open+Sans|Raleway|Roboto|Ubuntu:500&display=swap" rel="stylesheet">
</head>

<body>

	<header>
		<div class="logo">
			<img src="../images/logo.png" alt="logo" width="80vw">
		</div>

		<div class="menu" id="slide_menu">Menu</div>
	
		<nav>
			<ul>
				<li><a href="../../index2.html">Home</a></li>
				<li><a href="../about.html">About</a></li>
				<li><a href="../assignments_nav.html">Assignments</a></li>
				<li><a href="../project_nav.html">Project</a></li>
			</ul>
		</nav>
				
	</header>

<!------------------------------------EDIT IN THIS SECTION--------------------------------------->

	<aside>

		<div class="sub_sidebar">
			<ul>
				<h4>Table of Contents</h4>

				<!--Add more sub headings when necessary-->
				
				<li><a href="#sub_heading_1"> About this project</a></li>
                <li><a href="#sub_heading_2"> What I learned </a></li>
                <li><a href="#sub_heading_3"> Componentes needed</a></li>
                <li><a href="#sub_heading_4"> Steps</a></li>
                <li><a href="#sub_heading_5"> Setup</a></li>
                <li><a href="#sub_heading_6"> Code</a></li>
                <li><a href="#sub_heading_7"> Challenges faced</a></li>


			</ul>	
		</div>

	</aside>

	<article>
		<div class="assignment">
			<h1>Assignment 5</h1>

			<h2>Input and Output Devices</h2>

			<!---------Copy and paste the below content for as many paragraphs as required
				and include the paragraph sub headings in the table of contents above---------->
			
				<h3 id="sub_heading_1"> About this project </h3>
				<p>A digital ruler using an ultrasonic sensor and a display screen is a project that utilizes an Arduino microcontroller to measure distances accurately and display the results on an LCD screen thus, one is able to indentify the lenght/width/height of an ojbject 
					
					

				</p>

                <h3 id="sub_heading_2"> What I learned</h3>
				<p>
				   I learned about what all things are on an Arduino and about different kinds of components one can connect and setup to perform various things. I also learned about the circuit and how to use a breadboard in order to correctly connect LEDs, buzzer and keypad membrane to Arduino Uno. Then I also learned to program the arduino to perform the required tasks and understood the logic behind the coding it.
				</p>

                <h3 id="sub_heading_3"> Componentes needed </h3>
				<p>
					Arduino Uno, Breadboard, ultrasonic sensor, LCD I2C display, jumper wires.

				</p>

                <h3 id="sub_heading_4"> Steps </h3>
				<p>1. Connect the VCC pin of the ultrasonic sensor to the 5V pin of the Arduino Uno.
                    Connect the GND pin of the ultrasonic sensor to the GND pin of the Arduino Uno.
                    Connect the TRIG pin of the ultrasonic sensor to digital pin 9 of the Arduino Uno.
                    Connect the ECHO pin of the ultrasonic sensor to digital pin 10 of the Arduino Uno.
                    <br>    

                2.Connect the SDA pin of the I2C LCD display to the A4 pin of the Arduino Uno.
                Connect the SCL pin of the I2C LCD display to the A5 pin of the Arduino Uno.
                Connect the VCC pin of the I2C LCD display to the 5V pin of the Arduino Uno.
                Connect the GND pin of the I2C LCD display to the GND pin of the Arduino Uno.
                
				</p>

                <h3 id="sub_heading_5"> Setup </h3>
				<p>
					
					

				</p>

                <h3 id="sub_heading_6"> Code </h3>
				<p>
					
					

				</p>

                <h3 id="sub_heading_6"> Challenges faced </h3>
				<p>
					Finding libraries
                    Correct syntax
                    Correctly setting up the circuit
                    Changing contrast of I2C display
					

				</p>


<!---------------------------------------------------------------------------------------------------->


		</div>
		
	</article>
	

	<footer>
		<div class="copyright">

		<!--(Optional) Edit the copyright if required-->
		
			Copyright &copy Department of Design, IIT-Delhi<br>
			Template created by Vibhuti Sagar
		</div>
	</footer>

	<script type="text/javascript" src="../jquery.js"></script>
	<script type="text/javascript" src="../format_jquery.js"></script>

</body>
</html>