<!DOCTYPE html>
<html lang="en">
<head>
	<title>Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../format.css">
	<link href="https://fonts.googleapis.com/css?family=Actor|Barlow|Open+Sans|Raleway|Roboto|Ubuntu:500&display=swap" rel="stylesheet">
</head>

<body>

	<header>
		<div class="logo">
			<img src="../images/logo.png" alt="logo" width="80vw">
		</div>

		<div class="menu" id="slide_menu">Menu</div>
	
		<nav>
			<ul>
				<li><a href="../../index2.html">Home</a></li>
				<li><a href="../about.html">About</a></li>
				<li><a href="../assignments_nav.html">Assignments</a></li>
				<li><a href="../project_nav.html">Project</a></li>
			</ul>
		</nav>
				
	</header>

<!------------------------------------EDIT IN THIS SECTION--------------------------------------->

	<aside>

		<div class="sub_sidebar">
			<ul>
				<h4>Table of Contents</h4>

				<!--Add more sub headings when necessary-->
				
				<li><a href="#sub_heading_1"> Introduction</a></li>
                <li><a href="#sub_heading_2"> Vision </a></li>
                <li><a href="#sub_heading_3"> Process  </a></li>
                <li><a href="#sub_heading_4"> Learnings</a></li>
                <li><a href="#sub_heading_5"> Problems Faced </a></li>


			</ul>	
		</div>

	</aside>

	<article>
		<div class="assignment">
			<h1>Assignment 2</h1>

			<h2>Basic Website Development</h2>

			<!---------Copy and paste the below content for as many paragraphs as required
				and include the paragraph sub headings in the table of contents above---------->
			
				<h3 id="sub_heading_1"> Introduction </h3>
				<p>
					While I have learnt basics of HTML and CSS in school. It was fun to revisit this and get a deeper insight on web development. The template was provided to us by Prof. Jay Dhariwal. I have analysed the HTML and CSS code and have learnt a lot about what went into the structure and aesthetics of the website.

					

				</p>

                <h3 id="sub_heading_2"> Vison </h3>
				<p>
					My vison was to allow people to easily navigate and view my assignments and also learn about me. I changed the background photo of the home page, changed the colour scheme to more suit me. 
					

				</p>

                <h3 id="sub_heading_3"> Softwares Used </h3>
				<p>Visual Studio Code is a free source-code editor developed by Microsoft that provides a modern and customizable environment for coding in various programming languages. It includes features such as debugging, syntax highlighting, intelligent code completion, and support for extensions.

                    When coding HTML and CSS for a basic website, Visual Studio Code helped by providing real-time feedback on any syntax errors, highlighting potential issues and offering helpful suggestions. The integrated terminal also allowed me to quickly test and preview my website as I made changes to the code. Overall, Visual Studio Code was a powerful and user-friendly tool for creating a website.
					

				</p>

                <h3 id="sub_heading_4"> Process</h3>
				<p> An HTML/CSS template was provided to us, and it was simple to update because it was guided with comments. With the assistance of Internet, I attempted to update the about page and replace the background image in the provided template. The assignment page needed to be edited, images added, and a hyperlink created text.By modifying the CSS code, I started personalising the design. This involved updating the typeface to be more unified, the colour palette. I also changed the HTML to customise the content to meet my needs by adding more subheadings and paragraphs.
					

				</p>
                
                
                
                <h3 id="sub_heading_5"> Learnings</h3>
				<p>
					Stronger understanding of layout, colour palettes, typography, and user experience as they relate to web design.
                    Acquired increased familiarity with the HTML and CSS languages and a better comprehension of how they interact to generate a web page. During the modification phase, found creative solutions to deal with design and coding issues.
                    
                    
                    Briefly, here is a few things I learned:
                    - Syntax of HTML and CSS
                    Tags like:
                    - Div 
                    - A href 
                    - P
                    - H1,2,3,4,5,6

                    One other interseting learning was how to use "inpect" by right-clicking a website and get information about the html and css code behind that website.



					

				</p>

                
                <h3 id="sub_heading_6"> Problems Faced</h3>
				<p>
					1. Technical issues with website templates or the coding
                    2. HTML/CSS templates may have limitations that make customization of design elements difficult.
                    3. Learning how to edit and how to connect css and html
                    4. I had trouble coming up with a design that was both aesthetically pleasing and user-friendly.
                    5. Ensuring website is accessible to all users.
                    6. Keeping files organized. 
                    
					

				</p>

<!---------------------------------------------------------------------------------------------------->


		</div>
		
	</article>
	

	<footer>
		<div class="copyright">

		<!--(Optional) Edit the copyright if required-->
		
			Copyright &copy Department of Design, IIT-Delhi<br>
			Template created by Vibhuti Sagar
		</div>
	</footer>

	<script type="text/javascript" src="../jquery.js"></script>
	<script type="text/javascript" src="../format_jquery.js"></script>

</body>
</html>