<!DOCTYPE html>
<html lang="en">
<head>
	<title>Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../format.css">
	<link href="https://fonts.googleapis.com/css?family=Actor|Barlow|Open+Sans|Raleway|Roboto|Ubuntu:500&display=swap" rel="stylesheet">
</head>

<body>

	<header>
		<div class="logo">
			<img src="../images/logo.png" alt="logo" width="80vw">
		</div>

		<div class="menu" id="slide_menu">Menu</div>
	
		<nav>
			<ul>
				<li><a href="../../index2.html">Home</a></li>
				<li><a href="../about.html">About</a></li>
				<li><a href="../assignments_nav.html">Assignments</a></li>
				<li><a href="../project_nav.html">Project</a></li>
			</ul>
		</nav>
				
	</header>

<!------------------------------------EDIT IN THIS SECTION--------------------------------------->

	<aside>

		<div class="sub_sidebar">
			<ul>
				<h4>Table of Contents</h4>

				<!--Add more sub headings when necessary-->
				
				<li><a href="#sub_heading_1"> Introduction</a></li>
                <li><a href="#sub_heading_2"> Steps </a></li>
                <li><a href="#sub_heading_3"> Limitations and Challenges  </a></li>
                <li><a href="#sub_heading_4"> Worked with  </a></li>


			</ul>	
		</div>

	</aside>

	<article>
		<div class="assignment">
			<h1>Assignment 1</h1>

			<h2>Makey Maket Kit</h2>

			<!---------Copy and paste the below content for as many paragraphs as required
				and include the paragraph sub headings in the table of contents above---------->
			
				<h3 id="sub_heading_1"> Introduction </h3>
				<p>
					
					

				</p>

                <h3 id="sub_heading_2"> Steps </h3>
				<p>
					
					We learned how to utilise Makey Makey and the different parts required to build a circult from our professor, Jav Dhariwal. We connected the Makey Makey to our laptop and clipped on the alligator clips to the makey makey in the respective areas to connect it the controls of up, down, right and left arrow keys of the laptop. Then we connected the other side of the alligator clip to a wire that helped extent the length. Then we stuck the copper part of the wire to the aluminium foil. This way the foils could act as the keyboard buttons. We also made a handle made out of foil for the ground in order of the person holding to complete the circuit.

				</p>

                <h3 id="sub_heading_3"> Limitations and Challenges  </h3>
				<p>
					When we were ideating on what to make, we realised that this particular electronics kit can only take a binary input as in, the button is either pressed to complete the circuit or it isn’t. It cannot take analogue input. So we had to decide the game we make keeping in mind this observation. So we decided to make a game based on touching the buttons. We had to discard a lot of other interesting ideas which were related to analogue input such as joystick based ones since they would not work well as it would not respond the small movement of the joystick.

                    So we decided to make “crossy road” game. This game is only takes input when the circuit is completed by touching the aluminium foil and thus giving a single input of: forward, back, right or left. We also
                    created a handle using foil. which acted as a ground for the
                    circuit.

                    Other miscellaneous challenges include, delegate material of aluminium foil which tends to tear easily reducing the durability of the hardware. Other than that, out game required more space to play. So, we had to increase the length of the wires by connecting the alligator clips to another wire in order the increase the length. 
					

				</p>

                <h3 id="sub_heading_4"> Worked with </h3>
				<p>
					
					Shreyash Pandey

				</p>


<!---------------------------------------------------------------------------------------------------->


		</div>
		
	</article>
	

	<footer>
		<div class="copyright">

		<!--(Optional) Edit the copyright if required-->
		
			Copyright &copy Department of Design, IIT-Delhi<br>
			Template created by Vibhuti Sagar
		</div>
	</footer>

	<script type="text/javascript" src="../jquery.js"></script>
	<script type="text/javascript" src="../format_jquery.js"></script>

</body>
</html>